# ignore os files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# ignore logs
*.log

# ignore all dotfiles
.*
!.gitignore

# ignore all test files anf folders
test*
Test*

# Ignore specific files
homeassistant.code-workspace
